body {
 /* background-color: yellow;*/
}
#top,#right,#left,#bottom{
  position: fixed;
  z-index: 100;
  background-color: grey;
}
#top{
  top:0;
}
#right{
  right:0;
}
#left{
  left:0;
}
#bottom{
  bottom:0;
}
#right, #left{
  top:0;
  bottom: -10em;
  padding-bottom: 10em;
  width: 1em;
}
#top,#bottom{
  left:0;
  right:0;
  height: 1em;
}
@font-face {
  font-family: "NewsGothicLight";
  src: url(../font/NewsGothic/News-Gothic-Light.ttf) format("truetype");
}

.nav {
  position: absolute;
  height: 100%;
  left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#about{
  position: absolute;
  top: 10px;
  padding-left: 30px;
}
#about-div {
  margin-top: 130px;
}
#about-box{
  background-color: red;
}
.menu {
  position: fixed;
  padding: 50px 0 0 20px;
  margin-left: 0px;
  /*background-color: #ffd700;*/
}
.test{
  padding-top: 140px;
}
.responsive-img {
  padding-bottom: 30px;
}

ul {
  list-style: none;
  margin: 0 0 0 70px;
}

.main {
  position: relative;
  left: 0px;
  margin-left: 0px;
  border-left-width: 30px;
  padding-left: 40px;
  bottom: 0px;
  background-color: lightblue;
}

.links,li {
  font-family: 'NewsGothicLight';
  font-size: 10px;
  letter-spacing: 1px;
  padding: 2px 10px 2px 0;
  margin: 0 0 0 0;
  color: grey;
}

.links:hover{
  color: black;
}

h6{
  font-family: 'NewsGothicLight';
  letter-spacing: 2px;
}
p,a {
  font-family: 'NewsGothicLight';
  font-size: 10px;
  color: #000000;
}
#myname{
  font-size: 10px;
  margin-bottom: 60px;
}

.project-info{
  position: fixed;
  top: 135px;
  padding-left: 50px;
  width: 200px;
}
.pro-title{
  font-family: 'NewsGothicLight';
  font-size: 10px;
  letter-spacing: 1px;
  margin-bottom: 0px;
}
.pro-text{
  font-family: 'NewsGothicLight';
  font-size: 10px;
  margin-top: 0px;
}

.hide{
  display: none;
}

@media (min-width: 992px) {
  #phone{
    display: none;
  }
}

@media (max-width: 600px) {
  #phone{
    text-align: center;
  }
  h6#phone-name{
    font-size: 0.8rem;
    margin:1.5rem 0 1.4rem 0;
  }
  p{
    font-size: 0.7rem;
  }
  ul{
    margin:1.5rem 0 1.4rem 0;
  }
  li.p-nav{
    font-size: 0.7rem;
    display: inline;
    color: grey;
  }
  li.p-nav:hover{
    color: black;
  }
  p#p-short{
    margin: 0 63px 0 63px;
  }
  .phone-image{
    position: relative;
    width: 300px;
    height: auto;
  }
  img.card-panel{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  a.links{
    padding: 0 10px 0 10px;
  }
  a#email{
    font-size: 10px;
  }
  .nav {
    display: none;
  }
}